// Цвета

$color-textGrey: #737373;
$color-lightBlue: #E9F4FF;
$color-darkBlue: #123970;
$color-black: #181818;
$color-primary: #123970;
$black: #2C2B31;

$color-bg-main: #E9F4FF;
$color-text-muted: #737373;
$color-white: #ffffff;
$color-border: #cce0ff;

// Шрифты и размеры
$font-family-base: 'Inter', sans-serif;
$font-size-base: 1rem; // 16px
$font-size-sm: 0.875rem; // 14px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Отступы и размеры
$spacing-xs: 0.25rem;   // 4px
$spacing-sm: 0.5rem;    // 8px
$spacing-md: 1rem;      // 16px
$spacing-lg: 1.5rem;    // 24px
$spacing-xl: 2rem;      // 32px
$border-radius: 0.5rem; // 8px
